<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zz.mappers.TestMapper">
    <resultMap id="TestPojoResultMap" type="TestPojo">
        <result property="userName" column="userName"/>
        <result property="age" column="age"/>
        <result property="doubleMoney" column="doubleMoney"/>
        <result property="amount" column="amount"/>
        <result property="flag" column="flag"/>
        <result property="testEnum" column="testEnum"/>
        <result property="createTime" column="createTime"/>
    </resultMap>

    <insert id="insertTest" parameterType="TestPojo">
        	INSERT INTO testyingshe (
			userName,
			age,
			doubleMoney,
			amount,
			flag,
			testEnum,
			createTime)
		VALUES
			(
				#{userName},
				#{age},
				#{doubleMoney},
				#{amount},
				#{flag},
				#{testEnum},
				NOW()
			);
    </insert>

	<select id="selectTest" resultMap="TestPojoResultMap">
		SELECT * FROM testyingshe WHERE id=#{id}
	</select>

    <update id="updateTest">
        UPDATE testyingshe SET amount=#{amount} WHERE id=#{id}
    </update>


</mapper>